a {
  text-decoration-line: none;
  color:blue;
}
body {
background-color: rgb(23, 22, 22);

}
header {
background-color: rgb(32, 32, 32);

}
footer {
  background-color: rgb(32, 32, 32);
  border-radius: 7px;

  }
.addon {
background-color: rgb(48, 49, 49);
border-radius: 10px;

}
.map {
  background-color: rgb(48, 49, 49);
  border-radius: 10px;

}
.RP {
  background-color: rgb(48, 49, 49);
  border-radius: 10px;

}
.world {
  background-color: rgb(48, 49, 49);
  border-radius: 10px;

}