body {
   font-size: 16px;
   color: #ffffff;
   background-color: #121212;
   padding: auto;
   margin: auto;
   border: auto;
}
a {
   text-decoration-line:none;          
   color: white;
}
header {
   background-color: rgb(54, 54, 54);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 10px 0;
}

.collection {
   display: flex;
   justify-content: space-between;
   padding-left: 8in;
}

header, a {
   padding-top: 6px;
   padding-bottom: 6px;
}

.a5 {
   padding: 13px;  
}

.a5:hover {
   background-color: white;
   color: black;
}
.a1 {
   padding: 5px;
}
.a1 {
   transition: all 0.3s ease;
}

.a1:hover {
   transform: scale(1.2);
}
p , h1 , h2 , h3 , h4 ,h5 , h6 {
   color: white;
}