.logo{
    text-decoration-line: none;
    
  
}
div {
background-color: rgb(35, 34, 34);

}
body {

    background-color: black;
}
a {
text-decoration: none;

}
footer {
 background-color: rgb(53, 52, 52);

}